.basic-paso{
    border: 2px solid;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18;

}