.blank-box{
    height: 40px;
}
.f-scroller {
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
  .botones-modal-f{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }