@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.home-t{
    width: 100%;
}
.home-t-th{
    text-align: left;
}
.info-controller-home{
    background-color: #34495E ;
    display: flex;
    flex-direction: row;
    border-radius: 5px;

}
.titulos-home-view{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.h-controler-select{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.leaflet-container{
    width: 100%;
    height: 60vh;
}
.b-red{
    color: white;
    height: 24px;
    background-color: #E74C3C;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    justify-content: center;
    text-align: center;
}
.b-green{
    color: white;
    height: 24px;
    background-color: #28B463;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    justify-content: center;
    text-align: center;
}
.b-yellow{
    color: white;
    height: 24px;
    background-color: #F1C40F;
    justify-content: center;
    text-align: center;

}
.b-destello{
    color: white;
    height: 24px;
    background-color: #85C1E9;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.b-enrojo{
    color: white;
    height: 24px;
    background-color: #E74C3C;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.bar-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
    
}
.b-todo-verde{
    color: white;
    height: 24px;
    background-color: #28B463;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.home-view-footer{
    height: 50px;
}
.titulos-home{
    margin-top: 20px;
    margin-bottom: 30px;
}
.tablas-focus:hover{
    background-color: #b4bcbfb9  !important ;
    margin-top: 5px I !important;
}
.h-controler-info{
    border-radius: 10px 10px 10px 10px;
    background-color: #F0F3F4;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.h-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    background-color: #34495E;
    color: white;
}

@media only screen and (max-width: 1260px) {
    .card-controller{
        position: initial;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .card-location-i{
        position: initial;
        width: 90%;
        margin:5%;
        
    }
}
