.alinear{
    display:flex;
    flex-direction: row !important;
}
.blank-box{
    height: 80px;
}

.h-scroller {
    height: 400px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
  .horarios-card{
    width: 250px;
    position: absolute;
    top: 20%;
    right: 50px;
  }
  .botones-modal-h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }