.titulos-resumen{
    margin-top: 20px;
    margin-bottom: 30px;
}
.mod1{
    background-color: #48C9B0 !important;
}
.mod2{
    background-color: #5DADE2 !important;
}
.mod3{
    background-color: #F4D03F !important;
}
.mod4{
    background-color: #CD6155 !important;
}
.mod5{
    background-color: #34495E !important;
}
.contenedor-modos{
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid #34495E;
    height: 60px;
    border-radius: 10px;
}
.fijo-r{
    background-color: #48C9B0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}
.destello-r{
    background-color:  #F4D03F;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}
.pulsante-r{
    background-color:  #5DADE2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}
.rojo-r{
    background-color:  #CD6155;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}

.apagado-r{
    background-color:  #34495E;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}
.disposicion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla-resumen{
    overflow-x: scroll;
    overflow-y: scroll;
    height: 500px;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}
.fase-resumen{
    width: auto;
    color: black;
}
.container-resumen-fases{
    width: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
  }

.r-rojo{
    background-color: #CD6155;
}
.r-verde{
    background-color: #196F3D;
}
.r-destello{
    background-color: #85C1E9;
}
.r-{
    background-color: #F1C40F;
    
}
.r-n{
    background-color: #34495E;
}

.g-resumen{
   
    height: 28px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    border: 2px solid black;
}
@media only screen and (max-width: 1260px) {
    .contenedor-modos{
        flex-direction: column;
        height: auto;
    }
    .disposicion{
        margin-block: 5px;
    }

}